{% extends "../base/base.html" %}

{% block title %}Create Strategy{% endblock %}

{% block content %}
<div class="container my-4">
  <div class="row justify-content-center align-items-center">
    <div class="col-md-6">

      <div class="card">
        <div class="card-body">
          <h4 class="text-center">Create Strategy</h2>
            <hr>
            {% include "../../notification/messages.html" %}
            <form method="post" class="pinner-form" novalidate>
              {% csrf_token %}

              {% for field in form %}
              <div class="mb-3">
                <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                {{ field }}
                {% if field.errors %}
                <div class="text-danger small">
                  {{ field.errors|striptags }}
                </div>
                {% endif %}
              </div>
              {% endfor %}
              <hr>
              <!-- Allocations -->
              <h6 class="mb-3">Asset Allocation (%)</h6>

              {{ formset.management_form }}

              {% for allocation_form in formset %}
              <div class="row mb-3">
                <div class="col-md-8">
                  <label class="form-label">Asset</label>
                  {{ allocation_form.asset }}
                </div>
                <div class="col-md-4">
                  <label class="form-label">Percentage</label>
                  {{ allocation_form.percentage }}
                </div>
                {{ allocation_form.errors }}
              </div>
              {% endfor %}

              <small class="text-muted mb-3">
                Total allocation must not exceed 100%.
              </small>

              <button type="submit" class="btn btn-primary w-100 btn-sm fw-bold" data-spinner-text="Creating..."
                data-spinner-class="btn-secondary w-100">
                Create
              </button>
            </form>
        </div>
      </div>

    </div>
  </div>

</div>

{% endblock %}