{% extends "../../base/base.html" %}
{% load humanize %}

{% block title %}Copy Trader{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">

            <div class="card shadow-sm">
                <div class="card-header">
                    <h5 class="mb-0">Allocate Funds to  Copy {{leader.user.nick_name}}'s trades.</h5>
                </div>

                <div class="card-body">
                    <form method="post" class="pinner-form" novalidate>
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="allocated_cash" class="form-label">
                                Amount to Allocate
                            </label>

                            <input type="number" class="form-control" id="allocated_cash" name="allocated_cash"
                                placeholder="Enter amount" min="0" step="0.01" required>

                            <div class="form-text">
                                Enter the amount you want to assign to this copy trading.
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary w-100 btn-sm fw-bold"
                            data-spinner-text="Activating..." data-spinner-class="btn-secondary w-100">
                            Activate Copy Trading
                        </button>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}