<aside class="sidebar">
    <div class="sidebar-header">
        <h5 class="mb-0">STONECREST CAPITAL</h5>
    </div>

    <ul class="nav flex-column sidebar-menu">
        {% if not request.user.is_staff %}
        <li class="nav-item">
            <a class="nav-link {% if current_url == 'customer_dashboard' %}active{% endif %}"
                href="{% url 'account:customer_dashboard' %}">
                <i class="bi bi-speedometer2 me-2"></i>
                Dashboard
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link {% if current_url == 'portfolio' %}active{% endif %}"
                href="{% url 'account:portfolio' %}">
                <i class="bi bi-briefcase me-2"></i>
                Portfolio
            </a>
        </li>


        <li class="nav-item">
            <a class="nav-link {% if current_url == 'assets' %}active{% endif %}" href="{% url 'account:assets' %}">
                <i class="bi bi-collection me-2"></i>
                Assets
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link {% if current_url == 'stocks' %}active{% endif %}" href="{% url 'account:stocks' %}">
                <i class="bi bi-graph-up-arrow me-2"></i>
                Stocks
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link {% if current_url == 'reits' %}active{% endif %}" href="{% url 'account:reits' %}">
                <i class="bi bi-buildings me-2"></i>
                REITs
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link {% if current_url == 'strategy-list' %}active{% endif %}" href="{% url 'strategy:strategy-list' %}">
                <i class="bi bi-diagram-3 me-2"></i>
                Strategies
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link {% if current_url == 'copy_trading' %}active{% endif %}"
                href="{% url 'account:copy_trading' %}">
                <i class="bi bi-people me-2"></i>
                Copy Trading
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link {% if current_url == 'wallet' %}active{% endif %}" href="{% url 'account:wallet' %}">
                <i class="bi bi-wallet2 me-2"></i>
                Wallet
            </a>
        </li>
        {% else %}
        <li class="nav-item">
            <a class="nav-link {% if current_url == 'admin_dashboard' %}active{% endif %}"
                href="{% url 'staff:admin_dashboard' %}">
                <i class="bi bi-speedometer2 me-2"></i>
                Dashboard
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link {% if current_url == 'add_asset' %}active{% endif %}" href="{% url 'staff:add_asset' %}">
                <i class="bi bi-box-seam me-2"></i>
                Create New Asset
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% if current_url == 'admin_trade_list' %}active{% endif %}" href="{% url 'staff:admin_trade_list' %}">
                <i class="bi bi-arrow-left-right me-2"></i>
                Trade History
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% if current_url == 'admin_strategy_list' %}active{% endif %}" href="{% url 'staff:admin_strategy_list' %}">
                <i class="bi bi-diagram-3 me-2"></i>
                Strategies
            </a>
        </li>
        {% endif %}
        <li class="nav-item mt-3">
            <a class="nav-link text-danger" href="{% url 'frontend:logout' %}">
                <i class="bi bi-box-arrow-right me-2"></i>
                Logout
            </a>
        </li>
    </ul>
</aside>